.notice-comm_title {
    text-align: center;
    margin: 120px 0;
    /* border: 1px dotted black; */
    display: flex;
    justify-content: center;
}

.notice-tab {
    width: 1340px;
    height: 120px;
    display: flex;
}

.notice-on {
    width: 268px;
    height: 120px;
}

.notice-img, .notice-txt {
    display: flex;
    justify-content: center;
}

.notice-txt {
    font-size: 20px; 
    color: #1a1a1a;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    font-family: 'Inter', 'Pretendard', sans-serif;
}

.notice-titleArea {
    width: 1340px;
    height: 92px;
    margin: 0 0 80px 0;
    
}

.notice-h2 {
    font-size: 40px;
    color: #1a1a1a;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
}

.notice-p {
    font-family: 'Inter','Pretendard',sans-serif;
    font-size: 18px;
    color: rgb(136, 136, 136);
    height: 28px;
    letter-spacing: -0.36px;
    line-height: 28px;
    margin-top: 16px;
    position: relative;
    text-align: center;
    
}




