.notice-comm_title {
    width: 1340px;
    height: 120px;
    margin: 120px;
    border: 1px dotted black;
}

.notice-tab {
    width: 1340px;
    height: 120px;
    display: flex;
}

.notice-on {
    width: 268px;
    height: 120px;
}
