 .datail-contanier{
    width: 1340px;
    height: 797px;
    margin: 0 auto;
    background-color: antiquewhite;
 }

 .title-box{
    width: 1340px;
    height: 130px;
    text-align: center;
    align-content: center;
    align-items: center;
    border-top: 2px solid black;
    border-bottom: 1px solid #a2a2a2;
 }

 .title-text1{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 24px;
 }

 .text2-box{
    width: 157px;
    height: 20px;
    display: flex;
    justify-content: space-between;
	align-items: center;
    margin: 0 auto;
 }

 .title-text2{
    font-size: 14px;
    color: #848484;
 }

 .title-line{
    width: 1px;
    height: 12px;
    background-color: #CCCCCC;
 }

.content-box{
    width: 1340px;
    height: 163px;
}

.content-text{
    font-size: 14px;
    padding-bottom: 23px;
}