/* 메뉴 바 */
.review-comm_title {
    text-align: center;
    margin: 208px 0;
    /* border: 1px dotted black; */
    display: flex;
    justify-content: center;
}

.review-tab {
    width: 1340px;
    height: 120px;
    display: flex;
}

.review-on {
    width: 268px;
    height: 120px;
}

.review-img, .review-txt {
    display: flex;
    justify-content: center;
}

.review-txt {
    font-size: 20px; 
    color: #1a1a1a;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    font-family: 'Inter', 'Pretendard', 'sans-serif';
}

/* 제목 */
.review-titleArea {
    height: 92px;
    margin: 0 0 80px 0;
    text-align: center;
}

.review-titleArea>h2 {
    font-size: 40px;
    color: #1a1a1a;
    font-weight: 700;
    line-height: 48px;
}

.review-titleArea>p {
    font-family: 'Inter','Pretendard', 'sans-serif';
    font-size: 18px;
    font-weight: 400;
    color: #888888;
    height: 28px;
    letter-spacing: -0.36px;
    line-height: 28px;
    margin-top: 16px;
}