@keyframes slide-fade-in-dropdown-animation {
	0% {
	  transform: translateY(-50px);
	}
  
	100% {
	  transform: translateY(0);
	}
  }

@keyframes menu {
	0% {
	  transform: translateY(0px);
	}
  
	100% {
	  transform: translateY(10px);
	}
  }

.header-transparence {
	background-color: transparent;
	width: 100vw;
	height: 88px;
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	transition-duration: 0.3s;
}

.header-normal {
	background-color: white;
	width: 100vw;
	height: 88px;
	border-bottom: 1px solid #e8e8e8;
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	opacity: 0.95;
	transition-duration: 0.3s;
}

.header-wrapper {
	width: 1600px;
	max-width: 1600px;
	height: 88px;
	padding: 0px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	display: block;
}

.header-menu-wrapper {
	width: 350px;
}

.header-menu-icon {
	cursor: pointer;
}

.header-container {
	width: 350px;
	display: flex;
	justify-content: end;
	gap: 24px;
	height: 24px;
	align-items: center;
}

.header-service {
	font-size: 16px;
	font-weight: 500;
}

.header-point {
	font-size: 14px;
	font-weight: 500;
}

.header-extend-no {
	width: 547px;
	height: 1080px;
	position: fixed;
	z-index: 10;
	left: 0px;
	top: 0px;
	background-color: #ebebeb;
	opacity: 0.95;
	transform: translate(-547px, 0px);
	transition-duration: 0.3s;
}

.header-extend-yes {
	width: 547px;
	height: 1080px;
	position: fixed;
	z-index: 10;
	left: 0px;
	top: 0px;
	background-color: #ebebeb;
	opacity: 0.95;
	transition-duration: 0.3s;
}

.header-close {
	margin: 47px 0px 0px 55px;
	cursor: pointer;
}

.header-menu-container{
	position: relative;
	top:60px;
	left: 60px;
	width: 470px;
	height: 750px;
	overflow-y: auto;
}
.header-menu-container::-webkit-scrollbar {
	background: rgb(255, 144, 18, 0.5);
    border-radius: 12px 12px 12px 12px;
	width: 5px;
  }

.header-menu-container::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border-radius: 12px 12px 12px 12px;
}

.header-menu-shopping{	
	font-size: 25px;
	font-weight: bold;
}
.show-icon{
	width: 22px;
	height: 22px;
	position: absolute;
	margin-left: 365px;
	cursor: pointer;
}
.show-icon1{
	width: 22px;
	height: 22px;
	position: absolute;
	margin-left: 242px;
	cursor: pointer;
}

.show-icon2{
	width: 22px;
	height: 22px;
	position: absolute;
	margin-left: 189px;
	cursor: pointer;
}

.header-menu-categoty1{
	font-size: 22px;
	font-weight: 400;
	position: absolute;
	top: 60px;
	left: 22px;
	display: block;
}

.header-menu-categoty2{
	font-size: 19px;
	font-weight: 400;
	color: #5b5b5b;
	position: relative;
	top: 30px;
	left: 29px;
	display: block;
}

.header-menu-categoty3{
	font-size: 16px;
	font-weight: 400;
	color: #757575;
	position: relative;
	top: 25px;
	left: 42px;
	display: block;
}
.header-menu-categoty3 > li{
	padding-bottom: 20px;
}

.show{
	display: block;
}
.show1{
	display: block;
	height: 100px;
}
.show2{
	display: block;
	height: 200px;
}