.header-normal {
	background-color: white;
	width: 100vw;
	height: 88px;
	border-bottom: 1px solid #e8e8e8;
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	opacity: 0.95;
}

.header-wrapper {
	width: 1600px;
	max-width: 1600px;
	height: 88px;
	padding: 0px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	display: block;
}

.header-menu-wrapper {
	width: 350px;
}

.header-container {
	width: 350px;
	display: flex;
	justify-content: end;
	gap: 24px;
	height: 24px;
	align-items: center;
}

.header-service {
	font-size: 16px;
	font-weight: 500;
}

.header-point {
	font-size: 14px;
	font-weight: 500;
}